body {
    font-family: 'Fira Sans', sans-serif;
}
.imagebackground {
    background-image: url(../images/banner.jpg);
    width: 100%; height: 760px;
}
.testoblu {
    color: darkblue;
}
.bgblu {
    background-color: darkblue;
}